@font-face
{
  font-family: 'Pixel Font';
  src: url("fonts/PressStart2P.ttf") format('truetype');
  font-weight: normal;
}

body
{
    background-color: #0f222e;
    color: #ffffff;
    font-family: 'Pixel Font';
    font-size: 24px;
    padding-bottom: 5vw;
    padding-right: 5vw;
    padding-left: min(20vw,200px + 5vw);
}

.pixel
{
    image-rendering: pixelated;
}

a
{
    color:#d9ff00;
}

a:hover
{
    color:aqua;
}

strong
{
    color: #ff9100;
    font-size: 32px;
}

h1
{
    text-align: center;
    font-size: 32px;
}

h2
{
    text-align: center;
    font-size: 24px;
}

.log
{
    img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 70vw;
        max-height: 70vh;
    }

    p
    {
        margin-top: 128px;
        margin-bottom: 32px;
    }
}

.center-btn
{
    width: auto;

    display: flex;

    justify-content: center;
}

.download-button
{
    background-color: #08141a;
    font-family: 'Pixel Font';
    font-size: 24px;
    color: #09ff00;
    text-shadow: #0000006b 0px 4px;
    padding: 32px;

    margin: 16px 0px;

    border-radius: 32px;
    cursor: pointer;

    transition: scale 0.15s, background-color 0.15s;
}

.download-button:hover
{
    scale: 110%;
    background-color: #173242;
}

.captions
{
    display: flex;

    gap: 96px;

    justify-content: center;
    flex-wrap: wrap;
}




.caption
{
    width: 20vw;
    height: 20vw;

    min-width: 400px;
    min-height: 400px;

    max-width: 500px;
    max-height: 500px;

    background-color: #0a141a; /* tom escuro */
    padding: 50px;
    border-radius: 15%;

    box-shadow: 0px 0px 8px #00000086;

    display: inline-block;

    justify-content: center;
    align-content: center;

    text-align: center;
    font-size: 24px;

    transition:
        margin 0.15s,
        background 0.15s,
        box-shadow 0.15s;
}

.caption:hover
{
    background-color:#173242;
    box-shadow: 0px 0px 24px #ffffff;
}

.side-menu
{
    position: fixed;
    top: 0;
    left: 0;

    display: grid;

    gap: 64px;

    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr;

    justify-content: center;
    justify-items: center;

    width: 15vw;
    max-width: 200px;
    height: 100vh;

    img
    {
        width: 8vw;
        max-width: 105px;
        max-height: 105px;
    }

    background-color: #08141a;

    padding-top: 120px;

    z-index: 1000;
}
.menu
{
    background-color: #0000003f;

    display: inline-block;

    justify-content: center;
    align-content: center;
    
    width: 12vw;
    height: 12vw;
    max-height: 150px;
    max-width: 150px;
    padding: 4px;
    border-radius: 32px;
    box-shadow: #ffffff4f 0px 0px 0px;
    text-align: center;
    font-size: 12px;

    transition:
        box-shadow 0.15s;
}
.menu:hover
{
    box-shadow: #ffffff4f 0px 0px 24px;
}