@font-face {
    font-family: 'Pixel Font';
    src: url("fonts/PressStart2P.ttf") format('truetype');
}

/* ---------- RESET BÁSICO ---------- */

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #0f222e;
}

* {
    box-sizing: border-box;
}

/* ---------- GLOBAL ---------- */

body {
    color: #ffffff;
    font-family: 'Pixel Font';
    font-size: 24px;
    padding-bottom: 144px;

}

.pixel {
    image-rendering: pixelated;
}

/* ---------- LINKS ---------- */

a {
    color: #d9ff00;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

/* ---------- TEXTO ---------- */

strong {
    color: #ff9100;
    font-size: 48px;
}

h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    text-align: center;
    font-size: 24px;
}

.underline {
    text-decoration: underline;
}

/* ---------- LOG ---------- */

.log {
    box-shadow: 0px 0px 24px rgba(0, 0, 0);
    margin: 0 auto;
    background:#070e11;

    padding: 24px;
    width: 80vw;
    height: 1fr;
}

.log img {
    background: #050a0c;
    padding: 48px;
    border-radius: 32px;

    display: block;
    margin: auto;
    max-width: 70vw;
    max-height: 70vh;
}

.log p {
    font-size: 1.5vw;

    padding: 32px;
}

.log strong {
    font-size: 2vw;
}

/* ---------- BOTÃO ---------- */

.download-button {

    display: flex;

    justify-self: center;
    justify-content: center;

    background-color: #08141a;

    font-family: 'Pixel Font';
    font-size: 24px;
    color: #09ff00;

    border-style: groove;
    border-color: #ffff00;

    width:100%;

    text-shadow: 0 4px 0 #0000006b;
    padding: 32px;
    margin: 32px;

    border-radius: 32px;
    cursor: pointer;

    box-shadow: #ffffff 0 0 0;


    transition:
    background .15s,
    color .15s,
    border .15s;
}
.download-button:hover {
    background: #173242;

    color: #ffff00;
    border-color: #00ff00;
}

/* ---------- CAPTIONS ---------- */

.captions {

    --size: 560px;

    display: grid;
    justify-content: center;
    justify-items: center;

    grid-template-rows: repeat(auto-fit, var(--size));
    grid-template-columns: repeat(auto-fit, var(--size));

    gap: 56px;

    padding-bottom: 64px;
}

.caption {

    width: var(--size);
    height: var(--size);

    background-color: #0a141a;
    padding: 48px;
    border-radius: 15%;

    box-shadow: 0 0 16px #00000086;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    text-align: center;
    font-size: 24px;

    transition: background-color 0.15s, box-shadow 0.15s;
}

.caption img {
    width: 45%
}

.caption:hover {
    background-color: #173242;
    box-shadow: 0 0 24px #ffffff;
}

/* ---------- SIDE MENU ---------- */

.side-menu {
    position: fixed;
    bottom: 0px;
    left: 0px;

    display: grid;
    gap: 96px;

    grid-template-columns: repeat(auto-fit, 128px);
    justify-content: center;
    justify-items: center;
    align-items: center;

    width: 100vw;
    height: 144px;

    background-color: #08141a;

    z-index: 1000;
}

.side-menu img {
    width: 80px;
}

/* ---------- MENU ITEMS ---------- */

.menu {
    background-color: #0000003f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 128px;
    height: 128px;

    padding: 4px;
    border-radius: 32px;

    box-shadow: 0 0 0 transparent;

    text-align: center;
    font-size: 12px;

    border: rgba(0, 0, 0, 0) solid 0px;

    transition:
    box-shadow .2s,
    border .1s,
    background .2s;
}

.menu p {
    color: white;
}

.menu:hover {
    background-color: var(--box-color);

    border: rgba(0, 0, 0, 0.4) solid 4px;
}

/* ------------------------------------ Contador de dias ------------------------------------ */

.day-count {
    text-align: center;
    margin-bottom: 10vw;
    line-height: 4vw;

    background:#050a0c;

    border: #ffffff outset;

    border-radius: 32px;
}

.day-count p {
    font-size: 1.5vw;
}


/* ------------------------------------ Geral ------------------------------------ */

@media (hover: none) {
  * {
    transition: none !important;
  }

  *:hover {
    transform: none !important;
    box-shadow: none !important;
    background-color: inherit;
  }
}