@font-face
{
  font-family: 'Pixel Font';
  src: url("fonts/PressStart2P.ttf") format('truetype');
  font-weight: normal;
}


body
{
    background-color: #0f222e;
    color: #ffffff;
    font-family: 'Pixel Font';
    font-size: 24px;
    margin: 4vw;
    margin-left: 19vw;
    margin-top: 64px;
}

.pixel
{
    image-rendering: pixelated;
}

a
{
    color:#d9ff00;

    img
    {
        scale: 100%;
        transition: scale 0.15s;
    }

    img:hover
    {
        scale: 110%;
    }
}

a:hover
{
    color:aqua;
}

strong
{
    color: #ff9100;
    font-size: 32px;
}

h1
{
    text-align: center;
    font-size: 32px;
}

h2
{
    text-align: center;
    font-size: 24px;
}

.log
{
    img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 70vw;
        max-height: 70vh;
    }

    p
    {
        margin-top: 128px;
        margin-bottom: 32px;
    }
}

.captions
{
    display: flex;
    justify-content: center;
}

.caption
{
    background-color: #0a141a; /* tom escuro */
    margin: 16px;
    padding: 32px;
    border-radius: 32px;

    display: inline-block;

    img
    {
        display: block;

        margin-left: auto;
        margin-right: auto;
    }

    text-align: center;
    font-size: 24px;
}

.side-menu
{
  position: fixed;
  top: 0;
  left: 0;

  width: 15vw;
  max-width: 200px;
  height: 100vh;

  img
  {
    width: 8vw;
    height: 8vw;
    max-width: 105px;
    max-height: 105px;
  }

  background-color: #08141a;

  display: inline-block;
  padding-top: 120px;

  z-index: 1000;

  box-shadow: #ffffff;

    img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}