@font-face
{
  font-family: 'Pixel Font';
  src: url("fonts/PressStart2P.ttf") format('truetype');
  font-weight: normal;
}


body
{
    background-color: #0f222e;
    color: #ffffff;
    font-family: 'Pixel Font';
    font-size: 24px;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-right: 5vw;
    padding-left: min(20vw,200px + 5vw);
}

.pixel
{
    image-rendering: pixelated;
}

a
{
    color:#d9ff00;

    img
    {
        scale: 100%;
        transition: scale 0.15s;
    }

    img:hover
    {
        scale: 110%;
    }
}

a:hover
{
    color:aqua;
}

strong
{
    color: #ff9100;
    font-size: 32px;
}

h1
{
    text-align: center;
    font-size: 32px;
}

h2
{
    text-align: center;
    font-size: 24px;
}

.log
{
    img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 70vw;
        max-height: 70vh;
    }

    p
    {
        margin-top: 128px;
        margin-bottom: 32px;
    }
}

.captions
{
    display: grid;
    justify-content: center;
    justify-items:center;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: 360px;
    gap: 80px;
}




.caption
{
    width: 340px;
    height: 340px;

    background-color: #0a141a; /* tom escuro */
    padding: 32px;
    border-radius: 32px;

    display: inline-block;

    img
    {
        display: flexbox;

        justify-self: center;
    }

    text-align: center;
    font-size: 24px;

    transition: all 0.15s;
}

.caption:hover
{
    scale: 1.1;
    border-radius: 48px;
    background-color:#173242;
}

.side-menu
{
  position: fixed;
  top: 0;
  left: 0;

  width: 15vw;
  max-width: 200px;
  height: 100vh;

  img
  {
    width: 8vw;
    height: 8vw;
    max-width: 105px;
    max-height: 105px;
  }

  background-color: #08141a;

  display: inline-block;
  padding-top: 120px;

  z-index: 1000;

  box-shadow: #ffffff;

    img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}